# **Political Voting Survey Dashboard üåè**

**Introduction**

This project aims to showcase my skills in Data Visualizations and Dashboard Development with Tableau using generated dummy data with an example case in political surveys. Also, while the Visualization using Tableau are using CSV Files, due to Tableau Public Limitations, I am also going to develop an ingestion process from Generated Data to PostgreSQL for further real-time (or updated) visualizations.

Due to current limitations in access data, I will generate dummy data using APIs from multiple random generators with a location in Indonesia. This project does not at all represent any political fact about any region and are artificial created for learning and skills showcasing purposes.

**Tables:**

- Votes (6000 Unique Values)
    - voter_name
    - voter_id
    - candidate_id
    - region_id
- Candidate (4 Unique Values)
    - Candidate_id
    - Nama (Buat 4)
    - Party_id (Buat 4)
- region (33 Unique Values)
    - region_id
    - nama_wilayah
- Electoral Vote ‚Üê Voters (dibuat dari yang menang masing-masing)
    - Wilayah (Ada 33)
    - Vote Count
    - Candidate_name
    - Party
- Party
    - party_id
    - party_name
    - member_count

In [1]:
import pandas as pd
import random
from helper.data_generate import generate_person

**Region**

In [2]:
region_df = pd.read_csv('sources/regions_id.csv')
region_df = region_df.reset_index().rename(columns={"index": "id"})

region_df.rename(columns={"Provinsi di Indonesia":"province",
                          "Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa)":"population_count_in_thousands"},
                 inplace=True)

region_df = region_df[~region_df["province"].isin(["Indonesia"])]
region_df['id'] = region_df['id'] + 1

In [3]:
region_df

    id              province  population_count_in_thousands
0    1                  Aceh                         5554.8
1    2        Sumatera Utara                        15588.5
2    3        Sumatera Barat                         5836.2
3    4                  Riau                         6728.1
4    5             Kep. Riau                         2183.3
5    6                 Jambi                         3724.3
6    7      Sumatera Selatan                         8837.3
7    8  Kep. Bangka Belitung                         1531.5
8    9              Bengkulu                         2112.2
9   10               Lampung                         9419.6
10  11           DKI Jakarta                        10684.9
11  12            Jawa Barat                        50345.2
12  13                Banten                        12431.4
13  14           Jawa Tengah                        37892.3
14  15         DI Yogyakarta                         3759.5
15  16            Jawa Timur                        41814.5
16  17      Kalimantan Barat                         5695.5
17  18     Kalimantan Tengah                         2809.7
18  19    Kalimantan Selatan                         4273.4
19  20      Kalimantan Timur                         4045.9
20  21      Kalimantan Utara                          739.8
21  22        Sulawesi Utara                         2701.8
22  23             Gorontalo                         1227.8
23  24       Sulawesi Tengah                         3121.8
24  25      Sulawesi Selatan                         9463.4
25  26        Sulawesi Barat                         1503.2
26  27     Sulawesi Tenggara                         2793.1
27  28                  Bali                         4433.3
28  29   Nusa Tenggara Barat                         5646.0
29  30   Nusa Tenggara Timur                         5656.0
30  31                Maluku                         1945.6
31  32          Maluku Utara                         1355.6
32  33           Papua Barat                         1205.8
33  34                 Papua                         4542.6

**Party**

In [4]:
party_names = ["Partai Sosial Demokrasi Indonesia", "Partai Republik Nasionalis Nusantara", "Partai Amanat Indonesia", "Partai Kerjasama dan Utusan Rakyat"]
party_list = []
id = 1

for i in party_names:
    party = {}
    party["id"] = id
    id += 1
    party["party_name"] = i
    party["total_members"] = random.randint(1500, 5000)

    party_list.append(party)

In [5]:
party_df = pd.DataFrame(party_list)

In [6]:
party_df

   id                            party_name  total_members
0   1     Partai Sosial Demokrasi Indonesia           3308
1   2  Partai Republik Nasionalis Nusantara           2097
2   3               Partai Amanat Indonesia           2234
3   4    Partai Kerjasama dan Utusan Rakyat           4169

**Candidate**

In [7]:
generate_person()

{'gender': 'female',
 'name': {'title': 'Madame', 'first': 'Federica', 'last': 'Michel'},
 'location': {'street': {'number': 9993, 'name': "Rue de L'Abb√©-Groult"},
  'city': 'Kappel am Albis',
  'state': 'Luzern',
  'country': 'Switzerland',
  'postcode': 8373,
  'coordinates': {'latitude': '-14.8461', 'longitude': '166.4725'},
  'timezone': {'offset': '+11:00',
   'description': 'Magadan, Solomon Islands, New Caledonia'}},
 'email': 'federica.michel@example.com',
 'login': {'uuid': '5b5ff867-f8a7-489d-a76b-a22b68db06a5',
  'username': 'silvermouse224',
  'password': 'ginscoot',
  'salt': 'FNEHK2AE',
  'md5': 'f3aedd833b8c8f1b8b4c48a67af7d9b6',
  'sha1': 'a72ac37baaa954074978d77f928e393ede4af2a0',
  'sha256': '3efb3fa1fdb1aa024c1c496d55315d1832c81b772a48fcc788648ec604fbbefe'},
 'dob': {'date': '1952-04-27T05:06:46.486Z', 'age': 72},
 'registered': {'date': '2016-02-24T08:21:01.333Z', 'age': 9},
 'phone': '078 046 38 22',
 'cell': '076 141 20 24',
 'id': {'name': 'AVS', 'value': '756.5248.7583.19'},
 'picture': {'large': 'https://randomuser.me/api/portraits/women/39.jpg',
  'medium': 'https://randomuser.me/api/portraits/med/women/39.jpg',
  'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/39.jpg'},
 'nat': 'CH'}

In [8]:
candidates = []

for i in party_df["id"]:
    candidate = {}
    person = generate_person()

    candidate['id'] = i
    candidate['name'] = person['name']['first'] + ' ' + person['name']['last']
    candidate['sex'] = person['gender']
    candidate['party_id'] = i

    candidates.append(candidate)

candidates_df = pd.DataFrame(candidates)

In [9]:
candidates_df

   id            name     sex  party_id
0   1    Pedro Guerin    male         1
1   2      Josip Brun    male         2
2   3  Johanna Moulin  female         3
3   4  Alan Rodriguez    male         4

**Voters**

In [10]:
voters_csv_df = pd.read_csv("csv/voters.csv")
voters_csv_df.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
voters_csv_df

       Unnamed: 0.1             name     sex  candidate_id  region_id
0                 0  Mohamad Olivier    male             2         22
1                 1    Ulrich Dumont    male             3         34
2                 2  Catherine Petit  female             1          3
3                 3   Lars Bourgeois    male             3         14
4                 4   Kerstin Robert  female             4         15
...             ...              ...     ...           ...        ...
13463         13463  Hansruedi Simon    male             1          2
13464         13464     Delia Michel  female             2         19
13465         13465         Van Roux    male             3         15
13466         13466     Joel Lemoine    male             2          2
13467         13467   Amelie Charles  female             2         27

[13468 rows x 5 columns]

In [12]:
voters = []

def generate_voter():
    person = generate_person()
    voter = {}

    voter['name'] = person['name']['first'] + ' ' + person['name']['last']
    voter['gender'] = person['gender']
    voter['candidate_id'] = random.choice(candidates_df['id'].tolist())
    voter['region_id'] = random.choice(region_df['id'].tolist())

    print(voter)
    return voter

In [13]:
# for x in range(7):
#     for i in range(250):
#         print(str(i) + " " + str(x))
#         voter = generate_voter()
#         voters.append(voter)

In [14]:
voters_df = pd.DataFrame(voters)

In [15]:
voters_csv_df = pd.concat([voters_csv_df, voters_df], ignore_index=True)
voters_csv_df = voters_csv_df.drop_duplicates()
voters_csv_df.rename(columns={
    'vote': 'candidate_id'
}, inplace=True)

voters_csv_df.to_csv("csv/voters.csv")

In [16]:
voters_csv_df

       Unnamed: 0.1             name     sex  candidate_id  region_id
0                 0  Mohamad Olivier    male             2         22
1                 1    Ulrich Dumont    male             3         34
2                 2  Catherine Petit  female             1          3
3                 3   Lars Bourgeois    male             3         14
4                 4   Kerstin Robert  female             4         15
...             ...              ...     ...           ...        ...
13463         13463  Hansruedi Simon    male             1          2
13464         13464     Delia Michel  female             2         19
13465         13465         Van Roux    male             3         15
13466         13466     Joel Lemoine    male             2          2
13467         13467   Amelie Charles  female             2         27

[13468 rows x 5 columns]

**Electoral**

In [17]:
votes_with_candidates = pd.merge(voters_csv_df, candidates_df[['id', 'name', 'party_id']], left_on='candidate_id', right_on='id', how='inner')

votes_with_region = pd.merge(votes_with_candidates, region_df[['id', 'province']], left_on='region_id', right_on='id', how='inner')

votes_cleansed = pd.merge(votes_with_region, party_df[['id','party_name']], left_on='party_id', right_on='id', how='inner')

votes_cleansed.drop(columns=['id_x','id_y','id'], inplace=True)

votes_cleansed.rename(columns={'name_x': 'voter_name', 'name_y':'candidate_name', 'vote':'candidate_id'}, inplace=True)

votes_cleansed['vote_values'] = 1

votes_cleansed

,Unnamed: 0.1,voter_name,sex,candidate_id,region_id,candidate_name,party_id,province,party_name,vote_values
0,0,Mohamad Olivier,male,2,22,Josip Brun,2,Sulawesi Utara,Partai Republik Nasionalis Nusantara,1
1,1,Ulrich Dumont,male,3,34,Johanna Moulin,3,Papua,Partai Amanat Indonesia,1
2,2,Catherine Petit,female,1,3,Pedro Guerin,1,Sumatera Barat,Partai Sosial Demokrasi Indonesia,1
3,3,Lars Bourgeois,male,3,14,Johanna Moulin,3,Jawa Tengah,Partai Amanat Indonesia,1
4,4,Kerstin Robert,female,4,15,Alan Rodriguez,4,DI Yogyakarta,Partai Kerjasama dan Utusan Rakyat,1
...,...,...,...,...,...,...,...,...,...,...
13463,13463,Hansruedi Simon,male,1,2,Pedro Guerin,1,Sumatera Utara,Partai Sosial Demokrasi Indonesia,1
13464,13464,Delia Michel,female,2,19,Josip Brun,2,Kalimantan Selatan,Partai Republik Nasionalis Nusantara,1
13465,13465,Van Roux,male,3,15,Johanna Moulin,3,DI Yogyakarta,Partai Amanat Indonesia,1
13466,13466,Joel Lemoine,male,2,2,Josip Brun,2,Sumatera Utara,Partai Republik Nasionalis Nusantara,1
13467,13467,Amelie Charles,female,2,27,Josip Brun,2,Sulawesi Tenggara,Partai Republik Nasionalis Nusantara,1

In [18]:
votes_cleansed.groupby('province').agg({
    'voter_name':'count'
})

                      voter_name
province
Aceh                         375
Bali                         373
Banten                       370
Bengkulu                     406
DI Yogyakarta                398
DKI Jakarta                  369
Gorontalo                    395
Jambi                        341
Jawa Barat                   389
Jawa Tengah                  397
Jawa Timur                   387
Kalimantan Barat             427
Kalimantan Selatan           431
Kalimantan Tengah            400
Kalimantan Timur             389
Kalimantan Utara             425
Kep. Bangka Belitung         378
Kep. Riau                    384
Lampung                      384
Maluku                       391
Maluku Utara                 397
Nusa Tenggara Barat          433
Nusa Tenggara Timur          389
Papua                        387
Papua Barat                  435
Riau                         405
Sulawesi Barat               395
Sulawesi Selatan             402
Sulawesi Tengah              398
Sulawesi Tenggara            410
Sulawesi Utara               411
Sumatera Barat               401
Sumatera Selatan             411
Sumatera Utara               385

In [19]:
votes_cleansed[votes_cleansed['province'] == 'Aceh']

,Unnamed: 0.1,voter_name,sex,candidate_id,region_id,candidate_name,party_id,province,party_name,vote_values
31,31,Timo Nguyen,male,2,1,Josip Brun,2,Aceh,Partai Republik Nasionalis Nusantara,1
44,44,Ahmet Muller,male,1,1,Pedro Guerin,1,Aceh,Partai Sosial Demokrasi Indonesia,1
65,65,Anisa Dumont,female,2,1,Josip Brun,2,Aceh,Partai Republik Nasionalis Nusantara,1
118,118,Liv Blanc,female,1,1,Pedro Guerin,1,Aceh,Partai Sosial Demokrasi Indonesia,1
169,169,Solange Bourgeois,female,1,1,Pedro Guerin,1,Aceh,Partai Sosial Demokrasi Indonesia,1
...,...,...,...,...,...,...,...,...,...,...
13226,13226,Janine Laurent,female,1,1,Pedro Guerin,1,Aceh,Partai Sosial Demokrasi Indonesia,1
13281,13281,Sandro Louis,male,1,1,Pedro Guerin,1,Aceh,Partai Sosial Demokrasi Indonesia,1
13309,13309,Morena Leroy,female,2,1,Josip Brun,2,Aceh,Partai Republik Nasionalis Nusantara,1
13362,13362,Katrin Masson,female,1,1,Pedro Guerin,1,Aceh,Partai Sosial Demokrasi Indonesia,1
13370,13370,Oliver Morin,male,3,1,Johanna Moulin,3,Aceh,Partai Amanat Indonesia,1

In [20]:
# Result total pemenang
votes_cleansed.groupby('candidate_name').agg({
    'voter_name':'count'
})

                voter_name
candidate_name
Alan Rodriguez        3323
Johanna Moulin        3425
Josip Brun            3311
Pedro Guerin          3409

In [21]:
votes_cleansed.to_csv('csv/votes_cleansed.csv')

In [22]:
# Data detail untuk masing-masing provinsi
details_province = votes_cleansed.groupby(['province', 'candidate_name']).agg({
    'voter_name': ['count']
})

details_province.rename(columns={'voter_name': 'vote_count'}, inplace=True)
details_province.columns = details_province.columns.droplevel(1)
details_province.reset_index()

details_province

                                 vote_count
province         candidate_name
Aceh             Alan Rodriguez          98
                 Johanna Moulin          86
                 Josip Brun              98
                 Pedro Guerin            93
Bali             Alan Rodriguez          98
...                                     ...
Sumatera Selatan Pedro Guerin            82
Sumatera Utara   Alan Rodriguez         101
                 Johanna Moulin         100
                 Josip Brun              94
                 Pedro Guerin            90

[136 rows x 1 columns]

In [23]:
# Data pememenang setiap provinsi
winners = details_province.groupby('province')['vote_count'].idxmax()
winning_candidates = details_province.loc[winners].reset_index()
winning_candidates.to_csv('csv/regional_results.csv')

winning_candidates

                province  candidate_name  vote_count
0                   Aceh  Alan Rodriguez          98
1                   Bali  Alan Rodriguez          98
2                 Banten    Pedro Guerin         107
3               Bengkulu  Alan Rodriguez         109
4          DI Yogyakarta  Alan Rodriguez         111
5            DKI Jakarta    Pedro Guerin          99
6              Gorontalo      Josip Brun         108
7                  Jambi  Johanna Moulin         108
8             Jawa Barat      Josip Brun         107
9            Jawa Tengah    Pedro Guerin         114
10            Jawa Timur  Alan Rodriguez         106
11      Kalimantan Barat  Alan Rodriguez         121
12    Kalimantan Selatan    Pedro Guerin         112
13     Kalimantan Tengah      Josip Brun         110
14      Kalimantan Timur      Josip Brun         113
15      Kalimantan Utara    Pedro Guerin         114
16  Kep. Bangka Belitung  Johanna Moulin         103
17             Kep. Riau    Pedro Guerin         112
18               Lampung  Johanna Moulin         104
19                Maluku  Johanna Moulin         103
20          Maluku Utara  Alan Rodriguez         114
21   Nusa Tenggara Barat  Johanna Moulin         118
22   Nusa Tenggara Timur  Johanna Moulin         111
23                 Papua    Pedro Guerin         104
24           Papua Barat    Pedro Guerin         123
25                  Riau  Johanna Moulin         121
26        Sulawesi Barat  Johanna Moulin         111
27      Sulawesi Selatan    Pedro Guerin         124
28       Sulawesi Tengah  Johanna Moulin         109
29     Sulawesi Tenggara    Pedro Guerin         112
30        Sulawesi Utara  Johanna Moulin         109
31        Sumatera Barat      Josip Brun         107
32      Sumatera Selatan  Johanna Moulin         110
33        Sumatera Utara  Alan Rodriguez         101

In [24]:
# Result total pemenang
winning_candidates.groupby('candidate_name').agg({
    'province':'count'
})

                province
candidate_name
Alan Rodriguez         8
Johanna Moulin        11
Josip Brun             5
Pedro Guerin          10